{% extends 'tmpl.twig.html' %}

{% block content %}
    <div class="navbar-inner"><button type="button" data-bind="click: $root.runMerge" class="btn btn-primary">Merge selected datasets</button>

    <h1>Processing</h1>
    <table id="projects" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Merge</th>
                <th scope="col">Reference</th>
                <th scope="col">Sample</th>
                <th scope="col">EPN</th>
                <th scope="col">Type</th>
                <th scope="col">Resolution</th>
                <th scope="col">Space Group</th>
                <th scope="col">Unit Cell</th>
                <th scope="col">No. Frames</th>
                <th scope="col">Directory</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
{# commented out for knockout testing
        <tbody>
            {% for item in results %}
            <tr>
                <td>{{ item.sample.name }}</td>
                <td>{{ item.epn }}</td>
                <td style="text-transform: capitalize;">{{ item.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
#}
        <!-- ko if: results().length == 0 -->
        <tbody>
            <tr>
                <td colspan=9>No results available</td>
            </tr>
        </tbody>
        <!-- /ko -->
        <tbody data-bind="foreach: results">
            <tr data-bind="style: { backgroundColor: type() == 'dataset' ? '#ffffff' : '#eeeeee' } ">
                <td><input type="checkbox" name = "is_merge" value=" text: id" data-bind="checked: merge, enable: type() == 'dataset'"></td>
                <td><input type="checkbox" name = "is_reference" value=" text: id" data-bind="checked: reference, enable: type() == 'dataset'"></td>
                <td data-bind="click: $root.selectRow, text: sample().name"></td>
                <td data-bind="click: $root.selectRow, text: epn"></td>
                <td data-bind="click: $root.selectRow, text: type" style="text-transform: capitalize;"></td>
                <td data-bind="click: $root.selectRow, text: resolution"></td>
                <td data-bind="click: $root.selectRow, text: space_group"></td>
                <td data-bind="click: $root.selectRow, text: unit_cell_string"></td>
                <td data-bind="click: $root.selectRow, text: no_frames"></td>
                <td data-bind="click: $root.selectRow, text: directory"></td>
                <td>
                    <span data-bind="text: status, css: resultStatus" class="label"></span>
                </td>

            </tr>
        </tbody>
    </table>
    
    <div id="ajax-modal" class="modal hide fade" tabindex="-1" data-width="760"></div>
    <script src="{{ url_for('static', filename='js/processing.js') }}"></script>
    </div>
{% endblock %}
