{% macro render_field(field) %}
  {{ field.label }}{{ field(**kwargs)|safe }}
  {# {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {w% endif %} #}
{% endmacro %}

{% macro render_unit_cell_units(unit_cell) %}
    {% if unit_cell != None -%}
        {% set spaces=joiner(" ") %}{% for index in range(0,3) %}{{ spaces() }}{{ unit_cell[index]}}{{ "\u00c5" }}{% endfor %}
        {% set spaces=joiner(" ") %}{% for index in range(3,6) %}{{ spaces() }}{{ unit_cell[index]}}{{ "\u00b0" }}{% endfor %}
    {%- endif %}
{% endmacro %}
{% macro render_unit_cell(unit_cell) -%}
    {% if unit_cell != None %}
        {%- set spaces=joiner(" ") -%}{% for parameter in unit_cell %}{{ spaces() }}{{ parameter }}{% endfor %}
    {% endif %}
{%- endmacro %}

{% macro render_overloads(overloadsmap) -%}
    {% if overloadsmap != None %}
    {% for value in overloadsmap|sort %}<p>% of max count rate: {{100 / value|float}}, {{overloadsmap[value]}} pixels.{% endfor %}
    {% endif %}
{% endmacro %}

{% macro check_render_type(unit_cell) %}
{% if unit_cell[0] != null %}
   {{ render_unit_cell_units(unit_cell) }}
  {% else %}
  {{ render_overloads(unit_cell) }}
  {% endif %}
{%- endmacro %}
